* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: archivo;
  width: 100%;
  height: 100%;
  color: #071435;
  font-weight: 500;
}

:root {
  --scroll-width: 100%;
  --scroll-height: 40vh;
  /* --scroll-elements: 9; */
  --scroll-elements-displayed: 5;
  --scroll-element-width: calc(
    var(--scroll-width) / var(--scroll-elements-displayed)
  );
  --scroll-animation-duration: calc(var(--scroll-elements) * 2s);
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
}

.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

.text-logo {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  margin-top: 1rem !important;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cont {
  display: flex;
}

.nav-toggle {
  height: 0px;
  overflow: hidden;
  background: #ffffff;
  border-color: transparent;
  font-size: 1.5em;
  cursor: pointer;
  margin-top: -1.5rem;
}

.mt-lc {
  margin-left: 300px;
}

.links {
  display: flex;
  font-size: 17px;
  text-transform: uppercase;
  padding-top: 5px;
}

ul {
  list-style: none;
  justify-content: space-between;
}

li {
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
}

ul li a {
  font-weight: lighter;
  text-decoration: none;
  color: #071435;
  border: none;
}


ul li a:hover {
  color: #071435;
}

.heading {
  background-color: tomato;
  text-align: center;
  color: #ffffff;
  height: 60px;
  font-family: "Carrois Gothic SC";
  margin-top: -1.5rem;
}

.heading p {
  padding-top: 0.7rem;
  font-size: 1.5rem;
}

.menu {
  color: #071435;
}

.title {
  margin: 20px;
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
}

.title h2 {
  font-size: 2em;
  font-style: oblique;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.underline {
  width: 3.5em;
  height: 0.2em;
  background: rgb(243, 129, 108);
  margin-left: auto;
  margin-right: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
}

.filter-btn {
  font-size: 1.2em;
  background: transparent;
  padding: 5px;
  margin: 4px;
  border: 2px solid rgb(247, 122, 100);
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
  outline: none;
}

.section-center {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.menu-item {
  display: flex;
  padding: 10px;
}

.item-info {
  margin: 10px;
}

.item-info header {
  display: flex;
  border-bottom: 2px dotted tomato;
  justify-content: space-between;
  margin-bottom: 10px;
}

.item-info h4 {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.item-info p {
  margin-top: 20px;
}

.photo {
  object-fit: cover;
  width: 300px;
  height: 220px;
  border-radius: 20px;
}

.item-button {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    transition: all 0.5s linear;
}

.item-button:hover {
    color: tomato;
}

.footer{
  background: #1D293F;
  height: 100%;
  color: #818183 !important;
}

.visit {
  margin-top: 1.5rem;
}

.visit p {
  margin-top: 2.5rem;
}

.small {
  display: flex !important;
}

.q-link {
  margin-top: 1.5rem;
}

.q-link li{
  list-style-type: none;
  margin-left: -2.5rem;
}

.q-link a{
  color: #818183 !important;
  font-weight: bold;
}

.t-icon {
  margin-left: -0.5rem;
}

.t-icon a{
  margin-right: 10px;
  font-size: 1.3em;
  padding: 0.5rem;
}

.text-white{
  color: #ffffff !important;
}


@media screen and (max-width: 800px) {
  .nav-center {
    display: block;
    padding: 20px;
    background-image: none;
  }

  .nav {
    display: block;
  }

  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text-logo {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .banner {
    width: 100%;
    margin-top: 2rem;
    padding-left: 1.5rem !important;
  }

  .banner h1 {
    font-size: 2rem;
  }

  .banner p {
    top: 45%;
    left: 10%;
  }

  .nav-toggle {
    overflow: visible;
    outline: none;
    font-size: 2rem;
  }

  .links {
    height: 0;
    display: block;
    padding-top: 10px;
    overflow: hidden;
  }

  .mt-lc {
    margin-left: 2px !important;
  }

  li {
    margin-left: -1.5rem;
  }

  .show-links {
    height: 12em;
  }

  .section-center {
    width: 80%;
    margin: 10px;
    display: block;
  }
  .photo {
    width: 60%;
    /* object-fit: cover; */
    height: 250px;
    border: 0.25rem gold;
    border-radius: 20px;
  }
  .item-info .item-text {
    margin-top: 30px;
  }
}
